* {
  margin: 0px;
  padding: 0px;
  font-family: "微软雅黑";
}

#head,
#foot,
#main {
  height: 100px;
  width: 1200px;
  /*width: 85%;*/
  background-color: goldenrod;
  text-align: center;
  font-size: 48px;
  line-height: 100px;
  margin: 0 auto;
}

#head div {
  display: none;
  font-size: 20px;
  height: 30px;
  width: 100px;
  background-color: green;
  float: right;
  line-height: 30px;
  margin-top: 35px;
}

#head ul {
  width: 80%;
}

#head ul li {
  width: 20%;
  float: left;
  text-align: center;
  list-style: none;
  font-size: 20px;
}

#main {
  height: auto;
  margin: 10px auto;
  overflow: hidden;
}

.left,
.center,
.right {
  height: 600px;
  line-height: 600px;
  float: left;
  width: 20%;
  background-color: red
}

.center {
  width: 60%;
  border-left: 10px solid #FFF;
  border-right: 10px solid #FFF;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {

  #head,
  #foot,
  #main {
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  .right {
    display: none;
  }

  .left {
    width: 30%;
  }

  .center {
    width: 70%;
    border-right: hidden;
  }
}

@media only screen and (max-width: 640px) {

  .left,
  .center,
  .right {
    width: 100%;
    display: block;
    height: 200px;
    line-height: 200px;
  }

  .center {
    border: hidden;
    border-top: 10px solid #FFFFFF;
    border-bottom: 10px solid #FFFFFF;
    height: 600px;
    line-height: 600px;
  }

  #head ul {
    display: none;
  }

  #head div {
    display: block;
  }
}