@import './variables.scss';
/****************************************************** 公共 ***********************************/

/*  大小一致*/
* {
  box-sizing: border-box;
}

/* 点击后不要外框 */
button {
  outline: none;
}

///自适应
.fill {
  flex-grow: 1;
}

.main {
  width: calc(100vw - 1px);
  height: calc(100vh - 1px);
}

/****************************************************** 弹性盒子 ***********************************/




/****************************************************** Focus ***********************************/



/****************************************************** 公共过渡效果 ***********************************/

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
