// w=white b=black r=red y=yellow l=blue 

//---------------------------------------red---------------------------------

//---------------------------------------green--------------------------------

//---------------------------------------blue--------------------------------
$b1677d9:#1677d9;


//----------------------------------------white---------------------------------
$white:white;
$wccc:#ccc; //DIV 作为输入框外框时不输入时的颜色
$we6e6e6:#e6e6e6;

//--------------------------------------black-----------------------------------
$black:black;

//---------------------------------------yellow-------------------------------

$yellow:yellow;
